<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="ProcSmart">
    <meta name="author" content="Pranay Kumar Verma">
    <title>ProcSmart</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
</head>
{% block basePage %} {% endblock %}
</html>