{% extends "baselayout.html" %}
{% block basePage %}

<body class="hideSlideMenu">

    <nav class="slideMenu">
        <!-- Login information container -->
        <div class="loginInfo">
            <div class="snapHolder"><img src="../static/imgs/img1.png" /></div>
            <div class="loginDetail">
                <h5>{{data.user.name}}</h5>
                <p>{{ 'Admin' if data.user.isAdmin else 'Student' }}<br>User id: {{data.user.username}}</p>
            </div>
        </div>

        <ul class="nav" id="appNav">
            <li>
                <a href="{{url_for('logout')}}"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
        </ul>
    </nav>

    <header>
        <div class="cntWrap clearfix">
            <div class="headLeft">
                <a href="#" id="tglNav"></a>
                <span class="linkDvdr"></span>
                <!-- <a href="colleagueVisit.html" id="back"></a> -->
            </div>
            <div class="headRight">
            </div>
            <div class="headTitle">
                <h3>Session List</h3>
            </div>
        </div>
    </header>

    <div id="container">


        <section>
            <div class="cntWrap">
                <ul class="list noTitle">
                    {% for session in data.sessions %}
                    <li class="link">
                        <a href="{{url_for('examPage', sessionId=session.id)}}">
                            <div class="nameCPR">{{session.sessionname}}</div>
                            <span class="medium">{{session.startdate.strftime("%m/%d/%Y, %H:%M")}} -
                                {{session.enddate.strftime("%m/%d/%Y, %H:%M")}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </section><!-- main contianer div ended -->
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/autosize.min.js"></script>
    <script src="../static/js/structure.js"></script>
</body>
{% endblock basePage%}