<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="ProcSmart">
    <meta name="author" content="Pranay Kumar Verma">
    <title>ProcSmart</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">

</head>

<body class="hideSlideMenu">

    <nav class="slideMenu">
        <!-- Login information container -->
        <div class="loginInfo">
            <div class="snapHolder"><img src="../static/imgs/img1.png" /></div>
            <div class="loginDetail">
                <h5>{{data.user.name}}</h5>
                <p>{{ 'Admin' if data.user.isAdmin else 'Student' }}<br>User id: {{data.user.username}}</p>
            </div>
        </div>
        <ul class="nav" id="appNav">
            <li>
                <a href="{{url_for('createSession')}}"><i class="glyphicon glyphicon-duplicate"></i> Create Session</a>
            </li>
            <li>
                <a href="{{url_for('addUser')}}"><i class="glyphicon glyphicon-duplicate"></i> Add User</a>
            </li>
            <li>
                <a href="{{url_for('sessionListAdmin')}}"><i class="glyphicon glyphicon-search"></i> Session List</a>
            </li>
            <li>
                <a href="{{url_for('studentList')}}"><i class="glyphicon glyphicon-comment"></i> Student List</a>
            </li>
            <li>
                <a href="{{url_for('logout')}}"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
        </ul>
    </nav>

    <header>
        <div class="cntWrap clearfix">
            <div class="headLeft">
                <a href="#" id="tglNav"></a>
                <span class="linkDvdr"></span>
            </div>
            <div class="headRight">
            </div>
            <div class="headTitle">
                <h3>User Details</h3>
            </div>
        </div>
    </header>


    <div id="container">

        <form method='post' action="{{ url_for('updateUser') }}">
            <section>
                <div class="cntWrap">
                    <h5></h5>
                    <ul class="list">
                        <li>
                            <div>
                                <form id="addUser">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="firstName" class="control-label">First Name</label>
                                                {% if data.student.isFlagged %}
                                                <i class="flag" style="float: right;">&nbsp;</i>
                                                {%endif%}
                                                <input type="text" class="form-control" id="firstName"
                                                    value="{{data.student.name.split()[0]}}" name="fname"
                                                    disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="lastName" class="control-label">Last Name</label>
                                                <input type="text" class="form-control"
                                                    value="{{data.student.name.split()[1]}}" id="lastName" name="lname"
                                                    placeholder="Enter Last Name" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="uid" class="control-label">UserName</label>
                                                <input type="text" class="form-control" id="userId"
                                                    value="{{data.student.username}}" disabled="disabled" name="userId"
                                                    placeholder="Enter User Id">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="street" class="control-label">Email Id</label>
                                                <input type="text" class="form-control" value="{{data.student.email}}"
                                                    id="street" name="userEmail" placeholder="Enter Email"
                                                    disabled="disabled">
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="text-right">
                                <button type="submit" class="mBtn cancelBtn disableBtn" value="delUser" name="action"
                                    id="delUser">Delete
                                    User</button>
                                <button type="submit" class="mBtn" name="action" value="toggleFlag"
                                    id="toggleFlag">Toggle Flag
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        {% for log in data.logs %}
                        <li>
                            <h3>{{log.sessionname}}</h3>
                            </br>
                            <span>
                                {{log.rawData}}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section><!-- main contianer div ended -->
        </form>
    </div>

    <footer>

    </footer>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/autosize.min.js"></script>
    <script src="../static/js/structure.js"></script>
</body>

</html>