{% extends "baselayout.html" %}
{% block basePage %}
<body class="hideSlideMenu">

    <nav class="slideMenu">
        <div class="loginInfo">
            <div class="snapHolder"><img src="../static/imgs/img1.png" /></div>
            <div class="loginDetail">
                <h5>{{data.user.name}}</h5>
                <p>{{ 'Admin' if data.user.isAdmin else 'Student' }}<br>User id: {{data.user.username}}</p>
            </div>
        </div>
        <ul class="nav" id="appNav">
            <li>
                <a href="{{url_for('createSession')}}"><i class="glyphicon glyphicon-duplicate"></i> Create Session</a>
            </li>
            <li>
                <a href="{{url_for('addUser')}}"><i class="glyphicon glyphicon-duplicate"></i> Add User</a>
            </li>
            <li>
                <a href="{{url_for('sessionListAdmin')}}"><i class="glyphicon glyphicon-search"></i> Session List</a>
            </li>
            <li>
                <a href="{{url_for('studentList')}}"><i class="glyphicon glyphicon-comment"></i> Student List</a>
            </li>
            <li>
                <a href="{{url_for('logout')}}"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
        </ul>
    </nav>

    <header>
        <div class="cntWrap clearfix">
            <div class="headLeft">
                <a href="#" id="tglNav"></a>
                <span class="linkDvdr"></span>
            </div>
            <div class="headRight">
            </div>
            <div class="headTitle">
                <h3>Student List</h3>
            </div>
        </div>
    </header>



    <div id="container">


        <section>
            <div class="cntWrap">
                <ul class="list noTitle" id="colleagueList">
                    <li class="tblRow">
                        <div class="tblCell"><input type="text" class="form-control" id="search"
                                placeholder="Search Student by Name"></div>
                        <div class="tblCell"><a href="#" class="cancelSearch">Clear</a></div>
                    </li>

                    {% for std in data.students %}
                    <li class="link">
                        <a href="{{url_for('showUserData', studentId=std.id)}}" class="citizen">{{std.name}}
                            {% if std.isFlagged %}
                            <i class="flag" style="float: right;">&nbsp;</i>
                            {%endif%}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section><!-- main contianer div ended -->
    </div>

    <footer>

    </footer>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/autosize.min.js"></script>
    <script src="../static/js/structure.js"></script>
</body>
{% endblock basePage%}