<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="VitaeGo">
    <meta name="author" content="Bhasker Agrawal">
    <title>ProcSmart</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

</head>
<body class="hideSlideMenu">

<nav class="slideMenu">
    <!-- Login information container -->
    <div class="loginInfo">
        <div class="snapHolder"><img src="imgs/img1.png"/></div>
        <div class="loginDetail"><h5>Student Name</h5>
            <p>Student<br>User id: std</p>
        </div>
    </div>
    <!-- Citizen based navigation -->
    <!-- <ul class="nav" id="citizenNav">
        <li class="disable"><a href="#">Medicine</a></li>
        <li><a href="serviceOverview.html">Service Overview <b class="semiDeveloped">&#9679;</b></a></li>
        <li class="disable">
            <a href="#" data-toggle="collapse" data-target="#demo" class="accordNav collapsed">Citizen File</a>
            <ul class="nav subNav collapse" id="demo">
                <li class="disable"><a href="cf.html">Citizen File Overview</a></li>
                <li class="disable"><a href="noteModule.html">Notes</a></li>
                <li><a href="deadline.html">Deadline</a></li>
                <li><a href="cf.html">Common Language 3</a></li>
            </ul>
        </li>
        <li class="disable"><a href="#">Notes</a></li>
        <li><a href="citPlan.html">Citizen Plan <b class="semiDeveloped">&#9679;</b></a></li>
    </ul> -->
    <!--<div class="nav" id="citizenNav"></div>-->
    <!-- Application based navigation -->
    <ul class="nav" id="appNav">
        <li>
            <a href="index.html"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
        </li>
    </ul>
</nav>

<header>
    <div class="cntWrap clearfix">
        <div class="headLeft">
            <a href="#" id="tglNav"></a>
            <span class="linkDvdr"></span>
            <!-- <a href="colleagueVisit.html" id="back"></a> -->
        </div>
        <div class="headRight">
        </div>
        <div class="headTitle">
            <h3>Exam Session</h3>
        </div>
    </div>
</header>

<!-- Citizen context bar -->
<!-- <a href="#" class="citizenBar clearfix" data-toggle="modal" data-target="#citDetail">
    <div class="cntWrap">
        <div class="padd-10">
            <div class="danger clearfix">
                <div class="citizenContextColor">
                    <b style="background-color: orchid"></b>
                    <b style="background-color: red"></b>
                </div>
                <div class="citTtl">Hanne Jensen<p id="address">441 E, Red Square, Aarus , DK - 50612</p></div>
                <div class="caveInfo">Cave<br>Infection</div>
            </div>
        </div>
    </div>
</a> -->

<div id="container">


    <section>
        <div class="cntWrap">
          Content Goes Here

        </div>
    </section><!-- main contianer div ended -->
</div>

<footer>
    <!--<div class="cntWrap">
            <div class="footerBtn clearfix">
                <a href="#" class="mBtn">Save</a>
            </div>
        </div>
        <div class="noNetwork small">
            <div class="cntWrap">No Network!</div>
        </div>-->
</footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/autosize.min.js"></script>
<script src="js/structure.js"></script>
</body>
</html>
